*{
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.month {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  width: 100%;
  background: #fff8a7;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 2rem

}

.month ul li {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5rem;
}

.month .prev {
  float: right;
  padding-top: 10px;
}
.month .next {
  float: right;
  padding-top: 10px;

}
.month a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  
}
.weekdays {
  margin: 0;
  padding: 30px 0;
  background-color: #79b3f6;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #000000;
  text-align: center;
  font-size: 20px;
}

.days {
  padding: 50px 0;
  background: #ffb7d8;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 90px;
  font-size:15px;
  color: #777;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  width: 30%;
  height: 50px;
  cursor: pointer;
}

button.active {
  background-color: #ff61ab; 
  
}
.container{
  width: 80%;
  margin: auto;
}


/* Tasarımın responsive olması için gerekli media query kodları */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

.row{
  display: flex;
  justify-content: center;
  
}
.col-md-6{
  margin-left: 20px;
  display: flex;
  
}
.col-md-4 h2{
  padding-left: 2rem;

}
.col-md-4 a{
  color: #000000;
}
.col-md-4 h2 :hover{
  color: #ff61ab;
}
.card img{
  display: flex;
  max-height: 20rem !important;
}
.header{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.card-header{
  margin-left: 5rem;
  margin-right: 8rem;
}
.row a{
  text-decoration: none;

}
.carousel-item img{
  width: 300px;
  height: 500px;

}
.month-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40vh;
  align-items: center;
}